#indexHead {
		width: 400px;
}

#indexContainer {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		background: #fff;
}

#logoImage {
		width: 400px;
}

#logo {
		margin-left: auto;
		margin-right: auto;
		width: 400px;
}

#menu {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
}

.menuItem, .menuitem a {
		font-size: 1.3em;
		font-weight: 900;
		color: #241c1c;
		display: inline-block;
		margin-right: 10px;
		text-shadow: 0 0 2px #241c1c;
		text-decoration: none;
}

.menuitem a:hover {

	  text-decoration: underline;
}

#postContent {
		margin-top: 30px;
		padding-top: 40px;
		width: 100%;
		background-color: #241c1c;
		min-height: 100%;
		text-align: center;
}

#postList {
		padding: 20px;
}

.post, .post a{
		font-size: 1em;
		color: white;
		margin-bottom: 10px;
		text-align: center;
		text-decoration: none;
		text-shadow: 1px 1px 1px #222;
}

.post a:hover {
		text-decoration: underline;
}

.postDate {
		margin-right: 20px;
		color: #fff;
}

.postTitle {
		padding: 10px;
		text-align: right;
		margin-left: 10px;
}

#container {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		background: #222;
}

#pageContent {
		background: #eee;
		font-family: 'Lato', sans-serif;
		line-height: 1.5;
		font-size: 18px;
		color: #222;
		font-weight: 500;
		width: 75%;
		margin-left: auto;
		margin-right: auto;
		text-rendering: optimizeLegibility;
		padding-left: 20px;
		padding-right: 20px;
}

#pageHeader {
		float: right;
}

#pageFooter {
		float: right;
}
.clearFloat {
		clear: both;
}

body {
		padding: 0;
		margin: 0;
		background-color: #fff;
		font-family: 'Lato', sans-serif;
}

a {
		color: #1692cc;
}

h1,h2,h3,h4 {
		color: #222;
		font-weight: 700;
		text-shadow: #5f737c 0px 0px 1px;
}

pre {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #eee;
    padding: 8pt;
    font-family: monospace;
			line-height: 1.3;
		font-size: 14px;
    overflow: auto;
    margin: 1.2em;
		color: white;
}

pre.src {
    position: relative;
    overflow: visible;
    padding-top: 1.2em;
		background-color: #1a1a1a;
		border-radius: 10px;
		box-shadow: 3px 3px 5px #888888;
}

pre.src:before {
    display: none;
    position: absolute;
    background-color: white;
    top: -10px;
    right: 10px;
    padding: 3px;
    border: 1px solid black;
}
